option_settings"
    "aws:elasticbeanstalk:application:environment":
        "APP_NAME":"AppSelMa"
        "APP_ENV":"local"
        "APP_KEY":"base64:iVI3KT2o+0W1rzRBTuJ0l0a8PqB4y132RBssbrqhKd9="
        "APP_DEBUG":"true"
        "APP_URL":"http://appselma.tdl.localhost"
        "LOG_CHANNEL":"stack"
        "DB_CONNECTION":"mysql"
        "DB_HOST":"appselma-stag.cxyt1mnizojq.eu-west-1.rds.amazonaws.com"
        "DB_PORT":"3306"
        "DB_DATABASE":"appselma"
        "DB_USERNAME":"appselma_user"
        "DB_PASSWORD":"appselma_password"
        "BROADCAST_DRIVER":"log"
        "CACHE_DRIVER":"file"
        "QUEUE_CONNECTION":"database"
        "SESSION_DRIVER":"file"
        "SESSION_LIFETIME":"120"
        "MAIL_DRIVER":"smtp"
        "MAIL_HOST":"smtp.mailtrap.io"
        "MAIL_PORT":"2525"
        "MAIL_USERNAME":""
        "MAIL_PASSWORD":""
        "MAIL_ENCRYPTION":"null"
        "MAIL_FROM_NAME":""
        "MAIL_FROM_ADDRESS":""
        "CLIENT_ID":"2"
        "CLIENT_SECRET":"ZnPEHT3xBdydo9g7ukbNk6KgdhhrzwcpT6s9t9v0"
        "TDL_API_URL":"https://api.talentdatalabs.com"
        "TDL_API_ACCESS_TOKEN":""
        "TDL_API_HOST":"api.talentdatalabs.com"
        "WEPOW_API_URL":"https://api.wopow.co"
        "WEPOW_API_USERNAME":""
        "WEPOW_API_PASSWORD":""
