option_settings:
    - option_name: APP_NAME
      value: AppSelMa
    - option_name: APP_ENV
      value: local
    - option_name: APP_KEY
      value: base64:iVI3KT2o+0W1rzRBTuJ0l0a8PqB4y132RBssbrqhKd9=
    - option_name: APP_DEBUG
      value: true
    - option_name: APP_URL
      value: http://appselma.tdl.localhost
    - option_name: LOG_CHANNEL
      value: stack
    - option_name: DB_CONNECTION
      value: mysql
    - option_name: DB_HOST
      value: appselma-stag.cxyt1mnizojq.eu-west-1.rds.amazonaws.com
    - option_name: DB_PORT
      value: 3306
    - option_name: DB_DATABASE
      value: appselma
    - option_name: DB_USERNAME
      value: appselma_user
    - option_name: DB_PASSWORD
      value: appselma_password
    - option_name: BROADCAST_DRIVER
      value: log
    - option_name: CACHE_DRIVER
      value: file
    - option_name: QUEUE_CONNECTION
      value: database
    - option_name: SESSION_DRIVER
      value: file
    - option_name: SESSION_LIFETIME
      value: 120
    - option_name: MAIL_DRIVER
      value: smtp
    - option_name: MAIL_HOST
      value: smtp.mailtrap.io
    - option_name: MAIL_PORT
      value: 2525
    - option_name: MAIL_USERNAME
      value: 
    - option_name: MAIL_PASSWORD
      value: 
    - option_name: MAIL_ENCRYPTION
      value: null
    - option_name: MAIL_FROM_NAME
      value: 
    - option_name: MAIL_FROM_ADDRESS
      value: 
    - option_name: CLIENT_ID
      value: 2
    - option_name: CLIENT_SECRET
      value: ZnPEHT3xBdydo9g7ukbNk6KgdhhrzwcpT6s9t9v0
    - option_name: TDL_API_URL
      value: https://api.talentdatalabs.com
    - option_name: TDL_API_ACCESS_TOKEN
      value: 
    - option_name: TDL_API_HOST
      value: api.talentdatalabs.com
    - option_name: WEPOW_API_URL
      value: https://api.wopow.co
    - option_name: WEPOW_API_USERNAME
      value: 
    - option_name: WEPOW_API_PASSWORD
      value: 
